body {
    background-image: url("images/c2.mp4");
    /* background-size: cover;
    background-repeat: no-repeat; */
}

.city-not-found-blurb{
    font-size: 2em;
    font-weight: bolder;
}
.container{
    float: left;
}
.nfimg {
height: 200px;
width: 400px;
border-radius: 20px;
margin-right: 20px;
}
.map-container{
    float: right;
    flex-grow: 1;
    height: 720px;
    width: 1000px;
    margin-left: 20px;
}
.date-value{
    font-size: 2em;
    font-weight: bolder;
    border: 2px;
    border-style: solid;
}
.hidden {
    display: none;
}
/* .reveal{
    display: ;
} */
.weather-icon {
font-weight: bolder;
height: 100px;
width: 100px;
}
.fa-location-crosshairs{
    font-size: 2.4em;
}
.fa-magnifying-glass{
    border-radius: 46%;
    font-size: 1.5em;
    
}
.fa-magnifying-glass:hover {
    background-color: rgb(206, 206, 212);
    color: black;
    border-radius: 46%;
    font-size: 1.5em;
}
#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
#map{
    height: 100%;
}

.box{
    font-size: 27px;
}
.box:hover{
    background-color: rgb(231, 231, 237);
    color: black;
    font-size: 27px;
}
.temperature-value {
font-weight: bolder;
font-size: 2em;
}
.humidity-value {
font-weight: bolder;
font-size: 2em;
}
.description-value {
font-weight: bolder;
font-size: 2em;
}
.windspeed {
font-weight: bolder;
font-size: 1em;
}
.windspeed-value{
    font-weight: bolder;
font-size: 1.6em;
}
.fa-temperature-low {
    font-size: 4em;
}
